.Auction-Vehicle-Details-Section {
  box-shadow: var(--box-shadow);
  background-color: #fff;
  border-bottom: 4px solid var(--primary-color);
  border-radius: 4px;
}

.Auction-Vehicle-Details-Section h1 {
  border-left: 4px solid var(--primary, #07326C);
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px 0px 0px 0px;
}

.Auction-Vehicle-Details-Section h2 {
  color: #96969D;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.Auction-Vehicle-Details-Section h4 {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}

.Auction-Vehicle-Details-Section p{
  color: #96969D;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.Auction-time-Count-section{
  background-color: var(--primary-color);
  border-radius: 10px;
}

.Auction-time-Count-section h5{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}


.Auction-time-Count-section h6{
  color: #c7c7c7;
  font-size: 18px;
  font-weight: 600;
}

.Auction-ViewModal-Bid-List h2{
  color: #96969D;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.Auction-ViewModal-Bid-List h4 {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}

.Auction-ViewModal-Bid-List p{
  color: #96969D;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}