.set-image button {
  color: white;
  border-radius: 5px;
  background-color: var(--primary-color);
  display: flex;
  width: auto;
  border: 0;
}
h3 {
  color: var(--primary-color);
}
.set-image {
  border-radius: 20px;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1),
    0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}
.heading {
  padding-top: 120px;
}
.details h6{
  color: gray;
 
}
.carmenu{
    box-shadow:  0px 10px 15px 0px rgba(0, 0, 0, 0.1),
    0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border-bottom: 6px solid var(--primary-color);
}

h5{
  color: var(--primary-color);
}
.carpic{
    width: 47%;
}

.cardetails{
    color: var(--primary-color);
    font-weight: bold;
}
/* .bidButton{
  color: white;
  border-radius: 5px;
  background-color: var(--primary-color);
  border: 0;
} */
.placeBid h6{
  color: grey;
}
.placeBid p{
  color:white;
  font-weight: bold;
  font-size: 14px;
}
.bid{
  background-color:var(--primary-color);
  border-radius: 15px;
  box-shadow:  0px 10px 15px 0px rgba(0, 0, 0, 0.1),
    0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}

