.Vehicle-display-card {
  background-color: #ffff;
  box-shadow: var(--box-shadow);
  border-bottom: 4px solid var(--primary-color);
  border-radius: 4px;
}

.Vehicle-display-card h1 {
  font-size: 25px;
  color: var(--primary-color);
  font-weight: 700;
}

.Vehicle-display-card h4 {
  font-size: 20px;
  color: #FF5C00;
  font-weight: 700;
}

.Vehicle-card-display-icon {
  border-radius: 10px;
  background: rgba(171, 190, 255, 0.52);
}

.Vehicle-display-card h6 {
  font-size: 12px;
  color: #5E5E5E;
  font-weight: 700;
}