.sell-vehicle-home {

    background-image: url('../../assets/images/Sellvh.png');
    background-size: cover;
    background-position: center;
}

.sell-vehicle-home h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.sell-vehicle-home h4 {
    color: #bbbabad0;
    font-size: 18px;
    font-weight: 500;
}

.Sell-Vehicle-Section {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    border-bottom: 4px solid var(--primary-color);
    margin-top: 70px;
}

.Sell-Vehicle-Section  h1{
    color: var(--primary-color);
    font-size: 35px;
    font-weight: 700;
}